/* A Modern CSS Reset */
 
*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

body{
    background-image: url(images/windowsbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    padding: 20px;
    transition: .2s;
}

/* ローディング画面の背景 */
.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 9999;
}

.loadbar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#fff;
    border:3px #fff solid;
    padding: 10px 10px;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    text-align: center;
}

.animation {
    font-size: 200px;
    height: 276px;
    animation: loadinganimation 3000ms ease-out forwards infinite;
  }
  @keyframes loadinganimation {
    from{
        transform: rotate(0deg);
        opacity: 0;
    }

    to{
        transform: rotate(360deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
  }

.icon,.shutdown{
    display: block;
    width: 100px;
    text-align: center;
    color:#fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000; 
    padding: 10px 0;
    transition: .5s;
}

.icon img{
    width: 64px;
    margin: 0 auto;
    
}

.icon:hover,.shutdown:hover{
    background-color: rgb(255,255,255,.2);
    transition: .5s;
}

.bg_icon img{
    /* box-shadow: 0px 0px 3px #000;  */
}

.shutdown img{
    width: 58px;
    margin: 0 auto;
}

/* フォルダアイコンをクリックすると表示 */
.window{
    font-family: 'Kosugi Maru', sans-serif;
    position: fixed;
    left:130px;
    top:20px;
    /* bottom:0px; */
    max-width: 70vw;
    max-height: 90%;
    min-height: 300px;
    width: 800px;
    background-color: rgb(255,255,255,.8);
    border-radius: 10px;
    box-shadow: 2px 2px 2px #444;
    word-wrap: break-word;
    overflow-y: auto;
}

.window:not(:target) {
    opacity: 0;
    visibility: hidden;
    transition: .5s;
  }

.window:target{
    opacity: 1;
    visibility: visible;
    transition: .5s;
  }

.window_title{
    background-color: #188fdf;
    height: 30px;
    padding: 5px 0 5px 10px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 1px 2px #444;
    text-shadow: 1px 1px 1px #000; 
    color:#fff;
}

.window_contents{
    padding: 7px;
}

.close{
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 5px;
    color:#fff;
}

.fa-times{
    transition: 1s;
}

.fa-times:hover{
    transform:rotate(180deg);
    transition: .5s;
}

.work_all{
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.work_box{
    width:calc((100% - 30px) / 3);
    padding: 5px;
    margin: 5px;
    border:1px solid #999;
}

.work_box h1{
    font-size:1rem;
}

.work_box p{
    font-size:0.8rem;
}

.work_img img{
    width: 100%;
    height: 108px;
    object-fit: cover;
}

.skill_all{
    display: flex;
    flex-wrap: wrap;
}

.skill_all img{
    width: 60px;
    margin: 0 20px 20px 0;
}

.about_all{
    padding: 10px;
}

.about_all h1{
    font-size: 1.2rem;
    padding: 10px 0;
}

.about_all dl{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    border-top: none;
}

.about_all dt{
    background: #ddd;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    border-top: 1px solid #ccc; 
}
.about_all dd{
    padding: 10px;
    margin: 0;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc; 
    width: 80%;
    background: #fff;
    box-sizing: border-box;
}

form{
    padding: 25px;
    font-size:0.8rem;
    border-radius: 10px;
}

input[type="text"],input[type="email"],textarea{
    display: block;
    width: 100%;
    border:0px;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px #666;
}

input[type="submit"]{
    display: block;
    width: 100px;
    margin: 20px auto 0;
}

.footer{
    display: block;
    position: fixed;
    bottom: 10px;
    text-align: center;
    color:#fff;
    margin: 0 auto;
    width: 100%;
    text-shadow: 1px 1px 1px #000; 
}

@media screen and (max-width:700px){

body{
    padding: 5px;
}

.icon_list{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
}

.window{
    left:10px;
    top:110px;
    width: 100%;
    max-width: calc(100vw - 20px);
    max-height: 80vh;
}

.icon,.shutdown{
    flex:1;
    justify-content: space-between;
}

.work_box{
    width:calc((100% - 20px) / 2);
}

.about_all dl{
    flex-flow: column nowrap;
}

.about_all dt,.about_all dd{
    width: 100%;
    padding: 5px 10px;
}

.about_all dd{
    border-left: none;
}

form{
    padding: 10px;
}
    
}


